<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="bbsService" class="kr.re.kitri.bbs.service.BbsService">
		<constructor-arg name="articleDao" ref="articleDao"/>
	</bean>
	
	<bean id="articleDao" class="kr.re.kitri.bbs.dao.ArticleDao"/>

</beans>
